Assisstant.json
[{"id":"2d57220.49511de","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9e9156c5.f83938","type":"ui_form","z":"2d57220.49511de","name":"","label":"","group":"93943817.fdd3f8","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["9f41299f.5852d8"]]},{"id":"9f41299f.5852d8","type":"function","z":"2d57220.49511de","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["c1d2a201.f63c","abfadeea.ec376"]]},{"id":"c1d2a201.f63c","type":"watson-conversation-v1","z":"2d57220.49511de","name":"","workspaceid":"0a199a54-cbb6-483a-8e1f-eb5d7a191ed7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/db4304a8-5975-4965-8343-f8878129d326","timeout":"","optout-learning":false,"x":420,"y":360,"wires":[["7cb78b0b.4d0f84","8dbdbf57.08834"]]},{"id":"8dbdbf57.08834","type":"function","z":"2d57220.49511de","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["7cb78b0b.4d0f84","10b0576f.e72fb9","e0480af3.79e1a8","6e409a58.f3a404"]]},{"id":"7cb78b0b.4d0f84","type":"debug","z":"2d57220.49511de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":420,"wires":[]},{"id":"10b0576f.e72fb9","type":"ui_template","z":"2d57220.49511de","group":"93943817.fdd3f8","name":"","order":5,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":200,"wires":[[]]},{"id":"e0480af3.79e1a8","type":"ui_audio","z":"2d57220.49511de","name":"","group":"93943817.fdd3f8","voice":"de-DE","always":"","x":780,"y":340,"wires":[]},{"id":"abfadeea.ec376","type":"ui_text","z":"2d57220.49511de","group":"93943817.fdd3f8","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":520,"wires":[]},{"id":"6e409a58.f3a404","type":"ui_text","z":"2d57220.49511de","group":"93943817.fdd3f8","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":420,"wires":[]},{"id":"93943817.fdd3f8","type":"ui_group","z":"","name":"UI","tab":"937a2928.80b0a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"937a2928.80b0a8","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]